<div class="col-12 col-md-4">
  <div class="rank card bg-white border-none">
    <div class="card-header font-weight-bold">
      順位表
    </div>
    <div class="card-body p-4">
      <div style="height:1000px; overflow-y:scroll;">
        <table>
          <thead>
            <tr align="center">
              <th width="10%">順位</th>
              <th width="40%">クラブ</th>
              <th width="10%">試合</th>
              <th width="10%">勝</th>
              <th width="10%">分</th>
              <th width="10%">負</th>
              <th width="10%">Pts</th>
            </tr>
          </thead>
          <tbody id="league-tbl"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>  