<div class="col-12 col-md-4">
  <div class="card bg-white border-none">
    <div class="card-header font-weight-bold">
    試合スケジュール
    </div>
    <div class="card-body p-4">
      <div style="height:1000px; overflow-y:scroll;">
        <table>
          <thead>
            <tr align="center">
              <th width="40%">ホーム</th>
              <th width="30%">日時<br />(日本時間)</th>
              <th width="40%">アウェイ</th>
            </tr>
          </thead>
        <tbody id="matches-tbl"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>  