<div class="container text-center">
  <div class="card bg-white border-none">
    <div class="card-header font-weight-bold">
    試合スケジュール
    </div>
    <div class="card-body p-4">
      <div style="height:1000px; overflow-y:scroll;">
        <table class="table">
          <thead>
            <tr>
              <th>ホーム</th>
              <th>日時<br />(日本時間)</th>
              <th>アウェイ</th>
            </tr>
          </thead>
          <tbody id="matches-tbl"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>  