<main role="main" class="container">
  <div class="text-center">
    <h2>ツイート一覧</h2>
    <%= link_to 'ツイートを投稿する', new_tweet_path, {class: 'btn btn-primary' }%>
  </div>  
  <div class="scroll-list jscroll">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <!-- ツイート一覧 -->
      <% if @tweets.present? %>
        <%= render @tweets %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
      <%= paginate @tweets %>
  </div>  
</main>
