- visitor = notification.visitor
- visited = notification.visited
.col-md-6.mx-auto
  .form-inline
    span
      = link_to user_path(visitor) do
        = image_tag visitor.avatar_url.to_s, class: "dropdown-user-icon"
        strong
          = visitor.username
      = 'さんが'

      - case notification.action
      - when 'follow' then
        = "あなたをフォローしました"
      - when 'bookmark' then
        = link_to 'あなたの投稿', notification.tweet, style: "font-weight: bold;"
        = "にいいねしました"
      - when 'comment' then
        - if notification.tweet.user_id == visited.id
          = link_to "あなたの投稿", notification.tweet, style: "font-weight: bold;"
        - else
          span
            = link_to tweet_path(notification.tweet) do
              = image_tag avatar_url(notification.tweet.user).to_s, class: "dropdown-user-icon" 
              strong
                = notification.tweet.user.username + 'さんの投稿'
        = "にコメントしました"
        p.text-muted.mb-0
          = Comment.find_by(id: notification.comment_id)&.body

  .small.text-muted.text-right
    = time_ago_in_words(notification.created_at).upcase
  hr