@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'users';
@import 'header';


.mw-md {
  max-width: 576px;
}

// ヘッダーとbodyの要素が被らないようにpaddingを設定
body {
  padding-top: 65px;
}

.scroll-list {
  padding: 0;
}

nav.pagination {
  display: none;
}

img.news-img {
  max-width: 100%;
  height: auto;
}

img.tweet-img {
  max-width: 100%;
  height: auto;
}

.team {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('../images/team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-name {
  text-decoration: none;
  color: gray; 
}

.tweet-content {
  text-decoration: none;
  color: black;
}

.calender {
  text-decoration: none;
  color: gray; 
}

.btn-team {
  color: #e31b23;
  background-color: #fff;
  border-color: #fff;
}

.btn-team:hover {
  color: #dc3545;
  background-color: #fff;
  border-color: #fff;
}
