@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'users';


.mw-md {
  max-width: 576px;
}

// ヘッダーとbodyの要素が被らないようにpaddingを設定
body {
  padding-top: 70px;
}

.scroll-list {
  padding: 0;
}

nav.pagination {
  display: none;
}