@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'users';
@import 'header';
@import 'liverpool';
@import 'notifications';
@import 'footer';


.mw-md {
  max-width: 576px;
}

// ヘッダーとbodyの要素が被らないようにpaddingを設定
body {
  padding-top: 50px;
  padding-bottom: 48px;
}

.scroll-list {
  padding: 0;
}

nav.pagination {
  display: none;
}

img.news-img {
  max-width: 100%;
  height: auto;
}

img.tweet-img {
  max-width: 100%;
  height: auto;
}

.user-name {
  text-decoration: none;
  color: black;
  font-weight: bold; 
}

.tweet-content {
  text-decoration: none;
  color: black;
}

.calender {
  text-decoration: none;
  color: gray; 
}

.no-select-link {
  text-decoration: none;
  color: gray;
}

.select-link {
  text-decoration: none;
  border-bottom: 3px solid #e31b23;
  padding-bottom: 2px;
  font-weight: bold;
  color: black;
}

.link-to-do {
  text-decoration: none;
  color: black;
}

.follow-num {
  text-decoration: none;
  font-weight: bold;
  color: black;
}