.navbar {
  background-color: #e31b23;
}

.navbar-toggler {
  border-color: #fff;
  background-color: #e31b23;
}

.offcanvas-header {
  background-color: #e31b23;
}

.offcanvas-title {
  color: #fff;
}

.offcanvas-body {
  background-color: #e31b23;
}