.team {
  width: 100%;
  height: 100vh;
  background: url('../images/team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95% 5%;
}

.btn-team {
  color: #e31b23;
  background-color: #fff;
  border-color: #fff;
}

.btn-team:hover {
  color: #dc3545;
  background-color: #fff;
  border-color: #fff;
}