<div class="container-fluid" style="padding:0">
  <div class="row">
    <div class="col-6 text-center">
      <%= link_to '順位表', football_ranking_path, class: 'btn btn-team btn-xl' %>
    </div>
    <div class="col-6 text-center">
      <%= link_to '試合日程', football_schedule_path, class: 'btn btn-team btn-xl' %>
    </div>
  </div>
  <div class="team" style="padding:0"></div>    
</div>